<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <nav>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mobile_nav">
                <ul>
                    <li><a href="">GALÉRIA</a></li>
                    <li><a href="">RECENZIE</a></li>
                    <li><a href="">CENNÍK</a></li>
                    <li><a href="">KONTAKT</a></li>
                    <li><a href="">OTVÁRACIE HODINY</a></li>
                    <li>PON-PIA 9:00-17:00</li>
                    <li><a href="tel:+421948632626">0948 632 626</a></li>  
                </ul> 
            </div>
        </nav>
        <div class="hero">
            <div class="hero_header">
                <h1>Nečakaj na <span class="block">vysnívaný účes!</span></h1>
                <a href="">Objednaj sa</a>
            </div>
            <img src="../public/images/signature.png" alt="">
        </div>
        <div class="gallery_wrap">
            <h2>GALÉRIA</h2>
            <div class="gallery" id="gallery">
                <div class='cross'>
                    <span></span>
                    <span></span>
                </div>
                <div class="current">
                    <img src="../public/images/1.png" alt="" class="main_img">
                    <span class="arrow_span">
                        <img src="../public/images/left.png" alt="" class="arrow" id="arrow_left">
                    </span>
                    <span class="arrow_span">
                        <img src="../public/images/right.png" alt="" class="arrow" id="arrow_right">  
                    </span>
                </div>
                <div class="rest">
                    <img src="../public/images/1.png" alt="" class="selected">
                    <img src="../public/images/2.png" alt="">
                    <img src="../public/images/3.png" alt="">
                    <img src="../public/images/4.png" alt="">
                    <img src="../public/images/5.png" alt="">
                    <img src="../public/images/6.png" alt="">
                    <img src="../public/images/7.png" alt="">
                </div>
            </div>
        </div>
        <div class="reviews">
            <h2>RECENZIE</h2>
            <div class="reviews_wrap">
                <div class="review">
                    <h4>Milan</h4>
                    <p>
                        "Tomáš je super, čo sa budeme ojebávať. Nikto ho neprekoná! Tomáš je super, čo sa budeme ojebávať. "  
                    </p>
                    <div>
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                    </div>
                </div>
                <div class="review">
                    <h4>Milan</h4>
                    <p>
                        "Tomáš je super, čo sa budeme ojebávať. Nikto ho neprekoná! Tomáš je super, čo sa budeme ojebávať. "  
                    </p>
                    <div>
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                    </div>
                </div>
                <div class="review">
                    <h4>Milan</h4>
                    <p>
                        "Tomáš je super, čo sa budeme ojebávať. Nikto ho neprekoná! Tomáš je super, čo sa budeme ojebávať. "  
                    </p>
                    <div>
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                        <img src="../public/images/star.png" alt="">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="">NAPÍSAŤ RECENZIU</a>
                <a href="">ZOBRAZIŤ VIAC</a>
            </div>
        </div>
        <div class="pricelist">
            <h2>CENNÍK</h2>
            <div class="card">
                <span class="block">STRIHANIE</span>
                <span class="block">+</span>
                <span class="block">UMÝVANIE</span>
                <span class="block">+</span>
                <span class="block">STYLING</span>
                <span class="block">10€</span>
            </div>
        </div>
        <div class="contact">
            <h2>KONTAKT</h2>
            <form action="">
                <input type="text" placeholder="MENO: ">
                <input type="text" placeholder="E-MAIL: ">
                <textarea name="" id="" cols="30" rows="5" placeholder="Vaša správa... "></textarea>
                <button>ODOSLAŤ</button>
            </form>
            <div class="contacts">
                <span class="block">Weberova 4</span>
                <span class="block">Prešov</span>
                <span class="block">080 01</span>
                <a href="" class="block marginTop15"><img src="../public/images/phone.png" alt=""> +421 632 626</a>
                <a href="" class="block"><img src="../public/images/instagram.png" alt=""> /Rafael-corner</a>
                <a href="" class="block"><img src="../public/images/facebook.png" alt=""> @rafael_corner</a>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2617.856307837084!2d21.239168415679146!3d48.99429187930104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473eed7c98476723%3A0x1ba8876f155a4c8b!2sWeberova%205%2C%20080%2001%20Pre%C5%A1ov%2C%20Slovensko!5e0!3m2!1ssk!2sde!4v1576695508539!5m2!1ssk!2sde" width="1920" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="opening">
            <h2>OTVÁRACIE HODINY</h2>
            <div class="card">
                <span class="block">PONDELOK - PIATOK</span>
                <span class="block">9:00 - 17:00</span>
            </div>
        </div>
        <footer>
            <a href="">Filip Lohinský 2020</a>
        </footer>
    </div>

    <script src="../public/scripts/script.js"></script>
    <script src="../public/scripts/gallery.js"></script>
</body>
</html>